<div class="welcome-main">
<div class="site-wrapper">

<div class="site-wrapper-inner">

  <div class="cover-container">

    <div class="masthead clearfix">

      <div class="inner">
        <img style="margin:0 auto;" src="/ngApp/images/Logo-200x120.png"/>

      </div>
    </div>

    <div class="inner cover">

    <a class="btn btn-lg welcome-Button" href="#/visitor-register">Visitor Registration <i class="fa fa-hand-o-up fa-2x " aria-hidden="true"></i>
</a>
    </div>

    <div ></div>
    <div class="mastfoot">
      <div class="inner">
        <p>&copy; Creative I</p>
      </div>
    </div>

  </div>

</div>

</div>
</div>
